.idea/
.vagrant/
data/cache/*
!data/cache/.gitkeep
phpunit.xml


### ZendFramework ###
# Composer files
composer.phar
vendor/
data/DoctrineORMModule/*

# Local configs
config/*

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

# React JS
ecos-system-fe/node_module
ecos-system-fe/package-lock.json
ecos-system-fe/src/config.js

