.upload-card {
    border: 1px solid #e9e9e9;
    padding: 10px;
    width: 400px;
    margin: 0 auto;

    .header {
        font-size: 1.3em;
        font-weight: bold;
    }

    .custom-file-label {
        border-radius: 0;
    }
}