.theme-dark {
    legend.scheduler-border {
        color: #DDDDDD;
    }
}

.theme-light {
    legend.scheduler-border {
        color: #646777;
    }
}

fieldset.scheduler-border {
    border: 1px solid #d7d7d7 !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}
  
legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}
  
.react-confirm-alert-overlay {
    background: rgba(0, 0, 0, 0.5) !important;
}
.custom-ui-confirm {
    text-align: center;
    width: 100%;
    padding: 0 50px;

    .card__title {
        margin-bottom: 0px;

        .title-icon {
            color: $color-red;
            font-size: 25px;
        }
    }

    @include themify($themes) {
        background-color: themed('colorBackground');
        color: themed('colorText');
    }
}

.search-group-button {
    margin-left: auto;
    .btn {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

.master-data-list {
    .form__form-group {
        margin-bottom: 15px;
    }
    .products-list__search {
        svg {
            position: absolute;
            right: 5px;
            top: 9px;
            fill: #999;
            height: 14px;
            width: 14px;
        }
    }
    .master-data-btn {
        margin-bottom: 0;
    }
    .master-data-perpage {
        float: right;
        margin: 0;
    }
}

//Flag
.flag {
    width: 25px;
    height: 17px;
    &.vn {
        background: url('images/flag/vn.png');
        background-size: cover;
    }
    &.us {
        background: url('images/flag/us.png');
        background-size: cover;
    }
}
.form__form-group-field {
    margin-bottom: 5px;
}

    .form__form-group-icon {
        background: #f2f4f7;
        border: 1px solid #f2f4f7;
    }

#setting {
    .form {
        display: block;
        &.form--horizontal {
            .form__form-group-label {
                width: 155px;
            }
            .form__form-group-field {
                width: calc(100% - 155px);                
                padding-left: 20px;
            }
        }
    }
    .tabs {
        overflow: inherit;
    }
}

table {
    .checkbox-btn {
        height: 10px;
    }
}

form {
    .label-info-data {
        margin-right: 15px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }